<header class="flex flex-row p-3">
  <div class="w-[33%]">
    <img class="h-12 w-12" src="./assets/images/logo.webp" alt="logo" />
  </div>
  <div class="w-[33%]">
    <h1 class="text-center">AngTodo</h1>
  </div>
  <div class="w-[33%] text-right">
    <button
      class="border rounded-md p-2 bg-slate-100 dark:bg-darkbg border-black dark:border-white font-sans font-medium text-slate-900 dark:text-slate-100"
      (click)="toggleMode()"
    >
      {{ toggletext }}
    </button>
  </div>
</header>
