<div
  class="flex flex-row justify-between border rounded-md mt-3 p-3 bg-slate-50 dark:bg-slate-900"
>
  <div>
    <h2 id="title" class="font-bold">{{ title }}</h2>

    <p id="content" class="break-words">
      {{ content }}
    </p>
  </div>
  <div class="flex flex-col">
    <button class="text-red-500 font-bold text-2xl" (click)="deleteSelf()">
      X
    </button>
    <input
      class="w-8 h-8 mt-3"
      type="checkbox"
      name=""
      id=""
      (click)="toggleComplete()"
    />
  </div>
</div>
